body {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 400;
    color: var(--text-dark);
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-primary);
}

p {
    font-size: 0.9rem;
    color: var(--text-secondary);
    line-height: 1.5;
}


/* Links */
a {
    color: var(--link-blue);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover);
}
